In [5]:
import requests
from io import BytesIO
import pandas as pd

In [33]:
# 함수만들기
user_agent = "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"

def download_excel(url, period, company):
    resp = requests.get(url, headers={"user-agent": user_agent})
    table = BytesIO(resp.content)
    for sheet in ["연결 재무상태표", "연결 손익계산서", "연결 포괄손익계산서"]:
        data = pd.read_excel(table, sheet_name=sheet, skiprows=5)
        data.to_csv(period+company+sheet+".csv", encoding="euc-kr")

In [34]:
url_1812 = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko"
url_1906 = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190814002218&dcm_no=6846651&lang=ko"

In [35]:
for period, url in zip(['1812_', '1906_'],[url_1812, url_1906]):
    download_excel(url, period, '삼성전자_')

In [46]:
# rcp_no와 dcm_no를 input으로 함수 다시 만들기


def download_excel_2(rcp_no, dcm_no, period, company):
    for rcp, dcm, period in zip(rcp_no, dcm_no, period):
        url = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no={}&dcm_no={}&lang=ko".format(rcp,dcm)
        resp = requests.get(url, headers={"user-agent": user_agent})
        table = BytesIO(resp.content)
        for sheet in ["연결 재무상태표", "연결 손익계산서", "연결 포괄손익계산서"]:
            data = pd.read_excel(table, sheet_name=sheet, skiprows=5)
            data.to_csv(period+company+sheet+".csv", encoding="euc-kr")

In [47]:
rcp_no = ['20190401004781', '20190814002218']
dcm_no = ['6616741', '6846651']
period = ['1812_', '1906_']

download_excel_2(rcp_no, dcm_no, period, '삼성전자_')

In [49]:
df = pd.read_csv('pocket.csv')

In [50]:
df

   period          rcp_no   dcm_no
0   19.09  20191114001273  6958001
1   19.06  20190814002218  6846651
2   19.03  20190515001605  6738798
3   18.12  20190401004781  6616741
4   18.09  20181114001530  6382016
5   18.06  20180814001113  6282263

In [51]:
df['period']

0    19.09
1    19.06
2    19.03
3    18.12
4    18.09
5    18.06
Name: period, dtype: float64

In [52]:
df['rcp_no']

0    20191114001273
1    20190814002218
2    20190515001605
3    20190401004781
4    20181114001530
5    20180814001113
Name: rcp_no, dtype: int64

In [53]:
df['dcm_no']

0    6958001
1    6846651
2    6738798
3    6616741
4    6382016
5    6282263
Name: dcm_no, dtype: int64

In [54]:
df['period'].values

array([19.09, 19.06, 19.03, 18.12, 18.09, 18.06])

In [55]:
df['period'].index

RangeIndex(start=0, stop=6, step=1)

In [57]:
def download_excel_3(period, rcp_no, dcm_no, company):
    url = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no={}&dcm_no={}&lang=ko".format(rcp_no,dcm_no)
    resp = requests.get(url, headers={"user-agent": user_agent})
    table = BytesIO(resp.content)
    for sheet in ["연결 재무상태표", "연결 손익계산서", "연결 포괄손익계산서"]:
        data = pd.read_excel(table, sheet_name=sheet, skiprows=5)
        data.to_csv(period+company+sheet+".csv", encoding="euc-kr")

In [59]:
for period, rcp_no, dcm_no in zip(df['period'].values, df['rcp_no'].values, df['dcm_no'].values):
    print(period, rcp_no, dcm_no)
    download_excel_3(str(period), rcp_no, dcm_no, '삼성전자_')

19.09 20191114001273 6958001
19.06 20190814002218 6846651
19.03 20190515001605 6738798
18.12 20190401004781 6616741
18.09 20181114001530 6382016
18.06 20180814001113 6282263