<h1>삼성전자(005930) 재무상태표 DB에 넣기</h1>

In [82]:
import requests
from io import BytesIO
import pandas as pd
import numpy as np
import re
import os
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime

In [43]:
api_key = '27d86452b033fe973df6f1c980c37a2586801a1a'
corp_code = '00126380' # 삼성전자 corp_code
bgn_de = datetime.today().replace(year=2017).strftime('%Y%m%d')
end_de = datetime.today().strftime('%Y%m%d')

url = 'https://opendart.fss.or.kr/api/list.xml?crtfc_key={}&corp_code={}&bgn_de={}&end_de={}&last_reprt_at=Y&pblntf_detail_ty=A001&page_no=1&page_count=10'.format(api_key, corp_code, bgn_de, end_de)

In [44]:
resp = requests.get(url)
webpage = resp.content.decode('UTF-8')
webpage

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><result><status>000</status><message>정상</message><page_no>1</page_no><page_count>10</page_count><total_count>3</total_count><total_page>1</total_page><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2018.12)</report_nm><rcept_no>20190401004781</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20190401</rcept_dt><rm>연</rm></list><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2017.12)</report_nm><rcept_no>20180402005019</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20180402</rcept_dt><rm>연</rm></list><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2016.12)</report_nm><rcept_no>20170331004518</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20170331</rcept_dt><rm>연</rm></list></result>'

In [45]:
rcp_no_list = re.findall(r'<rcept_no>(.*?)</rcept_no>', webpage)
period_list = re.findall(r'<report_nm>사업보고서 \((.*?)\)</report_nm>', webpage)

In [46]:
rcp_no_list

['20190401004781', '20180402005019', '20170331004518']

In [47]:
period_list

['2018.12', '2017.12', '2016.12']

In [48]:
dcm_no_list = []
for rcp_no in rcp_no_list:
    resp = requests.get('http://dart.fss.or.kr/dsaf001/main.do?rcpNo={}'.format(rcp_no))
    webpage = resp.content.decode('utf-8')
    dcm_no = re.findall(r"'{}', '(.*?)',".format(rcp_no), webpage)[0]
    dcm_no_list.append(dcm_no)

In [49]:
dcm_no_list

['6616741', '6060273', '5540271']

In [50]:
user_agent = "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"

url = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no={}&dcm_no={}&lang=ko".format(rcp_no_list[0],dcm_no_list[0])
resp = requests.get(url, headers={"user-agent": user_agent})
table = BytesIO(resp.content)
df = pd.read_excel(table, sheet_name="연결 재무상태표", skiprows=6)

In [51]:
type(df)

pandas.core.frame.DataFrame

In [62]:
period_list.insert(0, '항목')

In [63]:
period_list

['항목', '2018.12', '2017.12', '2016.12']

In [66]:
df.columns = period_list

In [68]:
df

                         항목    2018.12    2017.12    2016.12
0                        자산
1                      유동자산  174697424  146982464  141429704
2                  현금및현금성자산   30340505   30545130   32111442
3                    단기금융상품   65893797   49447696   52432411
4                단기매도가능금융자산               3191375    3638460
5               단기상각후원가금융자산    2703693
6           단기당기손익-공정가치금융자산    2001948
7                      매출채권   33867733   27695995   24279211
8                       미수금    3080733    4108961    3521197
9                       선급금    1361807    1753673    1439938
10                     선급비용    4136167    3835219    3502083
11                     재고자산   28984704   24983355   18353503
12                   기타유동자산    2326337    1421060    1315653
13                 매각예정분류자산                           835806
14                    비유동자산  164659820  154769626  120744620
15               장기매도가능금융자산               7752180    6804276
16                 만기보유금융자산                106751
17                상각후원가금융자산     238309
18          기타포괄손익-공정가치금융자산    7301351
19            당기손익-공정가치금융자산     775427
20           관계기업 및 공동기업 투자    7313206    6802351    5837884
21                     유형자산  115416724  111665648   91473041
22                     무형자산   14891598   14760483    5344020
23                   장기선급비용    5009679    3434375    3834831
24                  순확정급여자산     562356     825892     557091
25                  이연법인세자산    5468002    5061687    5321450
26                  기타비유동자산    7683168    4360259    1572027
27                     자산총계  339357244  301752090  262174324
28                       부채
29                     유동부채   69081510   67175114   54704095
..                      ...        ...        ...        ...
32                     미지급금   10711536   13899633   11525910
33                      선수금     820265    1249174    1358878
34                      예수금     951254     793582     685028
35                    미지급비용   20339687   13996273   12527300
36                   미지급법인세    8720050    7408348    2837353
37                  유동성장기부채      33386     278619    1232817
38                     충당부채    4384038    4294820    4597417
39                   기타유동부채    1054718     403139     351176
40                 매각예정분류부채                           356388
41                    비유동부채   22522557   20085548   14507196
42                       사채     961972     953361      58542
43                    장기차입금      85085    1814446    1244238
44                   장기미지급금    3194043    2043729    3317054
45                  순확정급여부채     504064     389922     173656
46                  이연법인세부채   15162523   11710781    7293514
47                   장기충당부채     663619     464324     358126
48                  기타비유동부채    1951251    2708985    2062066
49                     부채총계   91604067   87260662   69211291
50                       자본
51               지배기업 소유주지분  240068993  207213416  186424328
52                      자본금     897514     897514     897514
53                   우선주자본금     119467     119467     119467
54                   보통주자본금     778047     778047     778047
55                  주식발행초과금    4403893    4403893    4403893
56                    이익잉여금  242698956  215811200  193086317
57                   기타자본항목   -7931370  -13899191  -11934586
58             매각예정분류기타자본항목                           -28810
59                    비지배지분    7684184    7278012    6538705
60                     자본총계  247753177  214491428  192963033
61                  자본과부채총계  339357244  301752090  262174324

[62 rows x 4 columns]

'    유동자산'

<h2>df 테이블을 DB에 넣기</h2>

CREATE SCHEMA 'fsdb'
CREATE TABLE `fsdb`.`005930_bs` (
  `account` VARCHAR(45) NOT NULL,
  `FY18` INT NULL,
  `FY17` INT NULL,
  `FY16` INT NULL);

In [87]:
connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    passwd = 'root',
                                    db = 'fsdb')

In [88]:
connection

In [89]:
fsdb_tables = pd.read_sql_query('SHOW TABLES FROM fsdb', connection)

In [98]:
fsdb_tables

  Tables_in_fsdb
0      005930_bs

In [99]:
table = employees_tables['Tables_in_fsdb']

In [100]:
pd.read_sql_query('DESCRIBE {}'.format(table[0]), connection)

     Field         Type Null Key Default Extra
0  account  varchar(45)   NO        None
1     FY18      int(11)  YES        None
2     FY17      int(11)  YES        None
3     FY16      int(11)  YES        None

In [105]:
sql = """INSERT INTO 005930_bs(account, FY18, FY17, FY16) VALUES({}, {}, {}, {})""".format("ex2",3,4,5)
pd.read_sql_query(sql, connection)

DatabaseError: Execution failed on sql 'INSERT INTO 005930_bs(account, FY18, FY17, FY16) VALUES(ex2, 3, 4, 5)': 1054 (42S22): Unknown column 'ex2' in 'field list'

In [107]:
connection.close()

In [108]:
import pymysql
 
conn = pymysql.connect(host='localhost', user='root', password='root',
                       db='fsdb', charset='utf8')

In [122]:
curs = conn.cursor()
sql = """insert into 005930_bs(account, FY18, FY17, FY16)
         values (%s, %s, %s, %s)"""
for i in df.index:
    curs.execute(sql,(df['항목'][i], df['2018.12'][i], df['2017.12'][i], df['2016.12'][i]))
    
conn.commit()
conn.close()

InternalError: (1366, "Incorrect integer value: ' ' for column 'FY18' at row 1")