<h1>삼성전자(005930) 재무상태표 DB에 넣기</h1>

In [1]:
import requests
from io import BytesIO
import pandas as pd
import numpy as np
import re
import os
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
api_key = '27d86452b033fe973df6f1c980c37a2586801a1a'
corp_code = '00126380' # 삼성전자 corp_code
bgn_de = datetime.today().replace(year=2017).strftime('%Y%m%d')
end_de = datetime.today().strftime('%Y%m%d')

url = 'https://opendart.fss.or.kr/api/list.xml?crtfc_key={}&corp_code={}&bgn_de={}&end_de={}&last_reprt_at=Y&pblntf_detail_ty=A001&page_no=1&page_count=10'.format(api_key, corp_code, bgn_de, end_de)

In [3]:
resp = requests.get(url)
webpage = resp.content.decode('UTF-8')
webpage

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><result><status>000</status><message>정상</message><page_no>1</page_no><page_count>10</page_count><total_count>3</total_count><total_page>1</total_page><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2018.12)</report_nm><rcept_no>20190401004781</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20190401</rcept_dt><rm>연</rm></list><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2017.12)</report_nm><rcept_no>20180402005019</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20180402</rcept_dt><rm>연</rm></list><list><corp_code>00126380</corp_code><corp_name>삼성전자</corp_name><stock_code>005930</stock_code><corp_cls>Y</corp_cls><report_nm>사업보고서 (2016.12)</report_nm><rcept_no>20170331004518</rcept_no><flr_nm>삼성전자</flr_nm><rcept_dt>20170331</rcept_dt><rm>연</rm></list></result>'

In [4]:
rcp_no_list = re.findall(r'<rcept_no>(.*?)</rcept_no>', webpage)
period_list = re.findall(r'<report_nm>사업보고서 \((.*?)\)</report_nm>', webpage)

In [5]:
rcp_no_list

['20190401004781', '20180402005019', '20170331004518']

In [6]:
period_list

['2018.12', '2017.12', '2016.12']

In [7]:
dcm_no_list = []
for rcp_no in rcp_no_list:
    resp = requests.get('http://dart.fss.or.kr/dsaf001/main.do?rcpNo={}'.format(rcp_no))
    webpage = resp.content.decode('utf-8')
    dcm_no = re.findall(r"'{}', '(.*?)',".format(rcp_no), webpage)[0]
    dcm_no_list.append(dcm_no)

In [8]:
dcm_no_list

['6616741', '6060273', '5540271']

In [9]:
user_agent = "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"

url = "http://dart.fss.or.kr/pdf/download/excel.do?rcp_no={}&dcm_no={}&lang=ko".format(rcp_no_list[0],dcm_no_list[0])
resp = requests.get(url, headers={"user-agent": user_agent})
table = BytesIO(resp.content)
df = pd.read_excel(table, sheet_name="연결 재무상태표", skiprows=6)

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
period_list.insert(0, '항목')

In [12]:
period_list

['항목', '2018.12', '2017.12', '2016.12']

In [13]:
df.columns = period_list

In [14]:
df

                         항목    2018.12    2017.12    2016.12
0                        자산
1                      유동자산  174697424  146982464  141429704
2                  현금및현금성자산   30340505   30545130   32111442
3                    단기금융상품   65893797   49447696   52432411
4                단기매도가능금융자산               3191375    3638460
5               단기상각후원가금융자산    2703693
6           단기당기손익-공정가치금융자산    2001948
7                      매출채권   33867733   27695995   24279211
8                       미수금    3080733    4108961    3521197
9                       선급금    1361807    1753673    1439938
10                     선급비용    4136167    3835219    3502083
11                     재고자산   28984704   24983355   18353503
12                   기타유동자산    2326337    1421060    1315653
13                 매각예정분류자산                           835806
14                    비유동자산  164659820  154769626  120744620
15               장기매도가능금융자산               7752180    6804276
16                 만기보유금융자산                106751
17                상각후원가금융자산     238309
18          기타포괄손익-공정가치금융자산    7301351
19            당기손익-공정가치금융자산     775427
20           관계기업 및 공동기업 투자    7313206    6802351    5837884
21                     유형자산  115416724  111665648   91473041
22                     무형자산   14891598   14760483    5344020
23                   장기선급비용    5009679    3434375    3834831
24                  순확정급여자산     562356     825892     557091
25                  이연법인세자산    5468002    5061687    5321450
26                  기타비유동자산    7683168    4360259    1572027
27                     자산총계  339357244  301752090  262174324
28                       부채
29                     유동부채   69081510   67175114   54704095
..                      ...        ...        ...        ...
32                     미지급금   10711536   13899633   11525910
33                      선수금     820265    1249174    1358878
34                      예수금     951254     793582     685028
35                    미지급비용   20339687   13996273   12527300
36                   미지급법인세    8720050    7408348    2837353
37                  유동성장기부채      33386     278619    1232817
38                     충당부채    4384038    4294820    4597417
39                   기타유동부채    1054718     403139     351176
40                 매각예정분류부채                           356388
41                    비유동부채   22522557   20085548   14507196
42                       사채     961972     953361      58542
43                    장기차입금      85085    1814446    1244238
44                   장기미지급금    3194043    2043729    3317054
45                  순확정급여부채     504064     389922     173656
46                  이연법인세부채   15162523   11710781    7293514
47                   장기충당부채     663619     464324     358126
48                  기타비유동부채    1951251    2708985    2062066
49                     부채총계   91604067   87260662   69211291
50                       자본
51               지배기업 소유주지분  240068993  207213416  186424328
52                      자본금     897514     897514     897514
53                   우선주자본금     119467     119467     119467
54                   보통주자본금     778047     778047     778047
55                  주식발행초과금    4403893    4403893    4403893
56                    이익잉여금  242698956  215811200  193086317
57                   기타자본항목   -7931370  -13899191  -11934586
58             매각예정분류기타자본항목                           -28810
59                    비지배지분    7684184    7278012    6538705
60                     자본총계  247753177  214491428  192963033
61                  자본과부채총계  339357244  301752090  262174324

[62 rows x 4 columns]

In [15]:
df['항목'] = df['항목'].str.strip()

In [16]:
df

                 항목    2018.12    2017.12    2016.12
0                자산
1              유동자산  174697424  146982464  141429704
2          현금및현금성자산   30340505   30545130   32111442
3            단기금융상품   65893797   49447696   52432411
4        단기매도가능금융자산               3191375    3638460
5       단기상각후원가금융자산    2703693
6   단기당기손익-공정가치금융자산    2001948
7              매출채권   33867733   27695995   24279211
8               미수금    3080733    4108961    3521197
9               선급금    1361807    1753673    1439938
10             선급비용    4136167    3835219    3502083
11             재고자산   28984704   24983355   18353503
12           기타유동자산    2326337    1421060    1315653
13         매각예정분류자산                           835806
14            비유동자산  164659820  154769626  120744620
15       장기매도가능금융자산               7752180    6804276
16         만기보유금융자산                106751
17        상각후원가금융자산     238309
18  기타포괄손익-공정가치금융자산    7301351
19    당기손익-공정가치금융자산     775427
20   관계기업 및 공동기업 투자    7313206    6802351    5837884
21             유형자산  115416724  111665648   91473041
22             무형자산   14891598   14760483    5344020
23           장기선급비용    5009679    3434375    3834831
24          순확정급여자산     562356     825892     557091
25          이연법인세자산    5468002    5061687    5321450
26          기타비유동자산    7683168    4360259    1572027
27             자산총계  339357244  301752090  262174324
28               부채
29             유동부채   69081510   67175114   54704095
..              ...        ...        ...        ...
32             미지급금   10711536   13899633   11525910
33              선수금     820265    1249174    1358878
34              예수금     951254     793582     685028
35            미지급비용   20339687   13996273   12527300
36           미지급법인세    8720050    7408348    2837353
37          유동성장기부채      33386     278619    1232817
38             충당부채    4384038    4294820    4597417
39           기타유동부채    1054718     403139     351176
40         매각예정분류부채                           356388
41            비유동부채   22522557   20085548   14507196
42               사채     961972     953361      58542
43            장기차입금      85085    1814446    1244238
44           장기미지급금    3194043    2043729    3317054
45          순확정급여부채     504064     389922     173656
46          이연법인세부채   15162523   11710781    7293514
47           장기충당부채     663619     464324     358126
48          기타비유동부채    1951251    2708985    2062066
49             부채총계   91604067   87260662   69211291
50               자본
51       지배기업 소유주지분  240068993  207213416  186424328
52              자본금     897514     897514     897514
53           우선주자본금     119467     119467     119467
54           보통주자본금     778047     778047     778047
55          주식발행초과금    4403893    4403893    4403893
56            이익잉여금  242698956  215811200  193086317
57           기타자본항목   -7931370  -13899191  -11934586
58     매각예정분류기타자본항목                           -28810
59            비지배지분    7684184    7278012    6538705
60             자본총계  247753177  214491428  192963033
61          자본과부채총계  339357244  301752090  262174324

[62 rows x 4 columns]

In [17]:
df = df.replace(" ", 0)

In [18]:
df.astype({'항목':'str',
           '2018.12':'int', 
           '2017.12':'int', 
           '2016.12':'int'})

                 항목    2018.12    2017.12    2016.12
0                자산          0          0          0
1              유동자산  174697424  146982464  141429704
2          현금및현금성자산   30340505   30545130   32111442
3            단기금융상품   65893797   49447696   52432411
4        단기매도가능금융자산          0    3191375    3638460
5       단기상각후원가금융자산    2703693          0          0
6   단기당기손익-공정가치금융자산    2001948          0          0
7              매출채권   33867733   27695995   24279211
8               미수금    3080733    4108961    3521197
9               선급금    1361807    1753673    1439938
10             선급비용    4136167    3835219    3502083
11             재고자산   28984704   24983355   18353503
12           기타유동자산    2326337    1421060    1315653
13         매각예정분류자산          0          0     835806
14            비유동자산  164659820  154769626  120744620
15       장기매도가능금융자산          0    7752180    6804276
16         만기보유금융자산          0     106751          0
17        상각후원가금융자산     238309          0          0
18  기타포괄손익-공정가치금융자산    7301351          0          0
19    당기손익-공정가치금융자산     775427          0          0
20   관계기업 및 공동기업 투자    7313206    6802351    5837884
21             유형자산  115416724  111665648   91473041
22             무형자산   14891598   14760483    5344020
23           장기선급비용    5009679    3434375    3834831
24          순확정급여자산     562356     825892     557091
25          이연법인세자산    5468002    5061687    5321450
26          기타비유동자산    7683168    4360259    1572027
27             자산총계  339357244  301752090  262174324
28               부채          0          0          0
29             유동부채   69081510   67175114   54704095
..              ...        ...        ...        ...
32             미지급금   10711536   13899633   11525910
33              선수금     820265    1249174    1358878
34              예수금     951254     793582     685028
35            미지급비용   20339687   13996273   12527300
36           미지급법인세    8720050    7408348    2837353
37          유동성장기부채      33386     278619    1232817
38             충당부채    4384038    4294820    4597417
39           기타유동부채    1054718     403139     351176
40         매각예정분류부채          0          0     356388
41            비유동부채   22522557   20085548   14507196
42               사채     961972     953361      58542
43            장기차입금      85085    1814446    1244238
44           장기미지급금    3194043    2043729    3317054
45          순확정급여부채     504064     389922     173656
46          이연법인세부채   15162523   11710781    7293514
47           장기충당부채     663619     464324     358126
48          기타비유동부채    1951251    2708985    2062066
49             부채총계   91604067   87260662   69211291
50               자본          0          0          0
51       지배기업 소유주지분  240068993  207213416  186424328
52              자본금     897514     897514     897514
53           우선주자본금     119467     119467     119467
54           보통주자본금     778047     778047     778047
55          주식발행초과금    4403893    4403893    4403893
56            이익잉여금  242698956  215811200  193086317
57           기타자본항목   -7931370  -13899191  -11934586
58     매각예정분류기타자본항목          0          0     -28810
59            비지배지분    7684184    7278012    6538705
60             자본총계  247753177  214491428  192963033
61          자본과부채총계  339357244  301752090  262174324

[62 rows x 4 columns]

In [19]:
df.dtypes

항목         object
2018.12     int64
2017.12     int64
2016.12     int64
dtype: object

In [20]:
# 자산, 부채, 자본 항목 인덱싱

In [20]:
a_beg_idx = df.loc[df['항목'] == '자산',:].index[0] + 1
a_end_idx = df.loc[df['항목'] == '자산총계',:].index[0]

l_beg_idx = df.loc[df['항목'] == '부채',:].index[0] + 1
l_end_idx = df.loc[df['항목'] == '부채총계',:].index[0]

e_beg_idx = df.loc[df['항목'] == '자본',:].index[0] + 1
e_end_idx = df.loc[df['항목'] == '자본총계',:].index[0]

In [21]:
bs_asset = df.loc[a_beg_idx:a_end_idx-1,:]
bs_asset

                 항목    2018.12    2017.12    2016.12
1              유동자산  174697424  146982464  141429704
2          현금및현금성자산   30340505   30545130   32111442
3            단기금융상품   65893797   49447696   52432411
4        단기매도가능금융자산          0    3191375    3638460
5       단기상각후원가금융자산    2703693          0          0
6   단기당기손익-공정가치금융자산    2001948          0          0
7              매출채권   33867733   27695995   24279211
8               미수금    3080733    4108961    3521197
9               선급금    1361807    1753673    1439938
10             선급비용    4136167    3835219    3502083
11             재고자산   28984704   24983355   18353503
12           기타유동자산    2326337    1421060    1315653
13         매각예정분류자산          0          0     835806
14            비유동자산  164659820  154769626  120744620
15       장기매도가능금융자산          0    7752180    6804276
16         만기보유금융자산          0     106751          0
17        상각후원가금융자산     238309          0          0
18  기타포괄손익-공정가치금융자산    7301351          0          0
19    당기손익-공정가치금융자산     775427          0          0
20   관계기업 및 공동기업 투자    7313206    6802351    5837884
21             유형자산  115416724  111665648   91473041
22             무형자산   14891598   14760483    5344020
23           장기선급비용    5009679    3434375    3834831
24          순확정급여자산     562356     825892     557091
25          이연법인세자산    5468002    5061687    5321450
26          기타비유동자산    7683168    4360259    1572027

In [22]:
type(bs_asset['2018.12'][4])

numpy.int64

In [ ]:
<h2>자산항목군을 DB(005930_bs_asset)에 넣기</h2>

CREATE SCHEMA 'fsdb'
CREATE TABLE `fsdb`.`005930_bs_asset` (
  `account` VARCHAR(45) NOT NULL,
  `FY18` INT NULL,
  `FY17` INT NULL,
  `FY16` INT NULL);

<h2>df 테이블을 DB에 넣기</h2>

CREATE SCHEMA 'fsdb'
CREATE TABLE `fsdb`.`005930_bs` (
  `account` VARCHAR(45) NOT NULL,
  `FY18` INT NULL,
  `FY17` INT NULL,
  `FY16` INT NULL);

In [23]:
mydb = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    passwd = 'root',
                                    db = 'fsdb')

In [24]:
mydb

In [25]:
mycursor = mydb.cursor()

In [30]:
sql = """CREATE TABLE 005930_bs_asset(
                    id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
                    account varchar(255),
                    FY18 int(20),
                    FY17 int(20),
                    FY16 int(20),
                    PRIMARY KEY (id));"""
mycursor.execute(sql)

ProgrammingError: 1050 (42S01): Table '005930_bs_asset' already exists

In [31]:
fsdb_tables = pd.read_sql_query('SHOW TABLES FROM fsdb', mydb)

In [32]:
fsdb_tables

    Tables_in_fsdb
0        005930_bs
1  005930_bs_asset

In [33]:
tables = fsdb_tables['Tables_in_fsdb']

In [34]:
for table in tables:
    output = pd.read_sql_query('DESCRIBE {}'.format(table), mydb)
    print(table)
    print(output, '\n')

005930_bs
     Field         Type Null Key Default Extra
0  account  varchar(45)   NO        None
1     FY18      int(11)  YES        None
2     FY17      int(11)  YES        None
3     FY16      int(11)  YES        None

005930_bs_asset
     Field                 Type Null  Key Default           Extra
0       id  bigint(20) unsigned   NO  PRI    None  auto_increment
1  account         varchar(255)  YES         None
2     FY18              int(20)  YES         None
3     FY17              int(20)  YES         None
4     FY16              int(20)  YES         None

In [45]:
bs_asset.index

RangeIndex(start=1, stop=27, step=1)

In [46]:
for i in bs_asset.index:
    sql = """INSERT INTO 005930_bs_asset (account, FY18, FY17, FY16) VALUES ("{}", {}, {}, {})""".format(bs_asset['항목'][i],bs_asset['2018.12'][i],bs_asset['2017.12'][i],bs_asset['2016.12'][i])
    mycursor.execute(sql)
mydb.commit()

In [47]:
pd.read_sql_query("select * from 005930_bs_asset", mydb)

    id          account       FY18       FY17       FY16
0    1      단기상각후원가금융자산    2703693          0          0
1    2      단기상각후원가금융자산    2703693          0          0
2    3      단기상각후원가금융자산    2703693          0          0
3    4             매출채권    2703693          0          0
4    5             유동자산  174697424  146982464  141429704
5    6         현금및현금성자산   30340505   30545130   32111442
6    7           단기금융상품   65893797   49447696   52432411
7    8       단기매도가능금융자산          0    3191375    3638460
8    9      단기상각후원가금융자산    2703693          0          0
9   10  단기당기손익-공정가치금융자산    2001948          0          0
10  11             매출채권   33867733   27695995   24279211
11  12              미수금    3080733    4108961    3521197
12  13              선급금    1361807    1753673    1439938
13  14             선급비용    4136167    3835219    3502083
14  15             재고자산   28984704   24983355   18353503
15  16           기타유동자산    2326337    1421060    1315653
16  17         매각예정분류자산          0          0     835806
17  18            비유동자산  164659820  154769626  120744620
18  19       장기매도가능금융자산          0    7752180    6804276
19  20         만기보유금융자산          0     106751          0
20  21        상각후원가금융자산     238309          0          0
21  22  기타포괄손익-공정가치금융자산    7301351          0          0
22  23    당기손익-공정가치금융자산     775427          0          0
23  24   관계기업 및 공동기업 투자    7313206    6802351    5837884
24  25             유형자산  115416724  111665648   91473041
25  26             무형자산   14891598   14760483    5344020
26  27           장기선급비용    5009679    3434375    3834831
27  28          순확정급여자산     562356     825892     557091
28  29          이연법인세자산    5468002    5061687    5321450
29  30          기타비유동자산    7683168    4360259    1572027

In [48]:
mycursor.close()

True

In [442]:
bs_asset

                 항목    2018.12    2017.12    2016.12
1              유동자산  174697424  146982464  141429704
2          현금및현금성자산   30340505   30545130   32111442
3            단기금융상품   65893797   49447696   52432411
4        단기매도가능금융자산          0    3191375    3638460
5       단기상각후원가금융자산    2703693          0          0
6   단기당기손익-공정가치금융자산    2001948          0          0
7              매출채권   33867733   27695995   24279211
8               미수금    3080733    4108961    3521197
9               선급금    1361807    1753673    1439938
10             선급비용    4136167    3835219    3502083
11             재고자산   28984704   24983355   18353503
12           기타유동자산    2326337    1421060    1315653
13         매각예정분류자산          0          0     835806
14            비유동자산  164659820  154769626  120744620
15       장기매도가능금융자산          0    7752180    6804276
16         만기보유금융자산          0     106751          0
17        상각후원가금융자산     238309          0          0
18  기타포괄손익-공정가치금융자산    7301351          0          0
19    당기손익-공정가치금융자산     775427          0          0
20   관계기업 및 공동기업 투자    7313206    6802351    5837884
21             유형자산  115416724  111665648   91473041
22             무형자산   14891598   14760483    5344020
23           장기선급비용    5009679    3434375    3834831
24          순확정급여자산     562356     825892     557091
25          이연법인세자산    5468002    5061687    5321450
26          기타비유동자산    7683168    4360259    1572027

In [443]:
import pymysql
 
conn = pymysql.connect(host='localhost', user='root', password='root',
                       db='fsdb', charset='utf8')

In [445]:
curs = conn.cursor()
sql = """insert into 005930_bs_asset(account, FY18, FY17, FY16)
         values (%s, %d, %d, %d)"""
curs.execute(sql,(bs_asset['항목'][6], bs_asset['2018.12'][6], bs_asset['2017.12'][6], bs_asset['2016.12'][6]))
conn.commit()
conn.close()

AttributeError: 'numpy.int64' object has no attribute 'translate'

int

In [446]:
curs = conn.cursor()
sql = """insert into 005930_bs_asset(account, FY18, FY17, FY16)
         values ({0}, {1}, {2}, {3})""".format(bs_asset['항목'][6], bs_asset['2018.12'][6], bs_asset['2017.12'][6], bs_asset['2016.12'][6])
curs.execute(sql)
conn.commit()
conn.close()

InternalError: (1054, "Unknown column '단기당기손익' in 'field list'")

In [448]:
# sqlalchemy 버전확인
import sqlalchemy
sqlalchemy.__version__

'1.2.11'

In [455]:
# Connecting
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('mysql+pymysql://root:root@127.0.0.1:3306/fsdb?charset=utf8', convert_unicode=False)
db_session = scoped_session(sessionmaker(autocommit=False, autoflush=False, bind=engine))

Base = declarative_base()
Base.query = db_session.query_property()

def init_db():
    import models
    Base.metadata.create_all(engine)

In [456]:
# Declare a Mapping
from sqlalchemy import Column, Integer, String, DateTime
from database import Base

class BsAsset(Base):
    __tablename__ = 'bs_asset'
    
    account = Column(String, primary_key=True)
    FY18 = Column(Integer)
    FY17 = Column(Integer)
    FY16 = Column(Integer)
    
    def __repr__(self):
        return "<bs_asset(account='%s', FY18='%s', FY17='%s', FY16='%s')>" % (self.account, self.FY18, self.FY17, self.FY16)

ModuleNotFoundError: No module named 'database'

In [ ]:
from sqlalchemy import Column, Integer, String
class 005930_bs_asset()